[submodule "datajoint-matlab"]
	path = datajoint-matlab
	url = https://github.com/klabhub/datajoint-matlab.git
	branch = master
[submodule "zapline-plus"]
	path = zapline-plus
	url = git@github.com:mert-ozkan/zapline-plus.git
